.sidebar{
  height:96vh;
  background: rgb(198, 226, 198);
}
.NoteList{
  overflow-x : inherit;
  display    : flex;
  overflow-y : hidden;  
  height: 5%;
  background: #f1c0f1;
}
.centerPlace{
  height:65%;
  overflow-y : scroll;  
  max-height: 65%;
  min-height: 65%;
  display: inherit;
}
.textArea{
  height:30%;
  max-height: 30%;
  min-height: 30%;
}
.NoteSpan{
  padding: 3px;
    width:  100px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: rgb(179, 179, 120);
}
.NoteSpan:hover{
  background: rgb(223, 223, 46);
}
.SheetList{
  background: rgb(184, 115, 233);
  color: white;
  height: 40px;
  
}
.SheetList:hover {
  background: rgb(80, 21, 126);
  }
.dataList{
  color: rgb(6, 0, 10);
}
.dataList:hover{
  background: rgb(132, 50, 240);
  color: rgb(253, 250, 255);
}
.statusBar{
  background: #6e62df;
}