  <div style="display: flex">
    <div style="width:25%;height:95vh;background:rgb(180, 180, 241)">
      <div *ngFor="let d of doc.sheets">
        <div (click)= onSheet(d.name) class="SheetList" on-mouseover='overSheetList(d.name)'
        on-mouseleave='leaveSheetList(d.name)' >
          {{d.name}}</div>
          <mat-divider>jj</mat-divider>
      </div>
    </div>
    <div style="width:75%;height:95vh">
      <div class="NoteList">
        <span *ngFor="let n of notes ">
          <span (click)= onNote(n) class="NoteSpan">{{n}}</span>
        </span>
      </div>
      <div class="centerPlace">
          <div *ngFor="let d of dataList">
              <div (click)= copy(d) class="dataList" >
                {{d}}
                  <mat-divider></mat-divider>
              </div>
            </div>
        </div>
        <textarea matInput class="textArea"  style ="width:100%" placeholder="Use Alt+Enter to give new line in TextArea"></textarea>
    </div>
  </div>
  <div class="statusBar" style="width:100%;height:5vh">Status bar</div>